[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[functions]
  node_bundler = "esbuild"

[dev]
  port = 3000
  targetPort = 3001
  functionsPort = 9999
  autoLaunch = false

# SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
